header {
    background: #c48cdc;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}
.menu__item {
    list-style: none;
	position: center;
	top: 10px;
	right: 100px;
}
